# Gradle
.gradle/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android
local.properties
*.apk
*.aab
*.ap_
*.dex

# IntelliJ / Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/.name
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/androidTestResultsUserPreferences.xml
.idea/migrations.xml
.idea/render.experimental.xml
.idea/AndroidProjectSystem.xml
.idea/ChatHistory_schema_v2.xml
.idea/copilot.data.migration.agent.xml
.idea/deviceManager.xml
.idea/markdown.xml
.idea/appInsightsSettings.xml
.idea/studiobot.xml

# Native build
.externalNativeBuild/
.cxx/

# Profiling & captures
captures/
/screenshots/

# macOS
.DS_Store
**/.DS_Store

# Kotlin
*.class

# Test artifacts
.maestro/generated

# WireMock
.wiremock/*.jar

# Qodana
.qodana/
.envrc

.scannerwork/
