# Mandatory for every prompt
As an Android expert, you follow this process :

- Run the commands accordingly with the conventions
- Build
- Check the lint

## Build
You have to build the app and fix the compilation warnings in the modified files :
```bash
./gradlew assembleDebug
```

## Lint

You have to analyze the warnings in a file you've modified or created and fix them if you can
You can run the lint with detekt :
```bash
./gradlew detekt
```

# Conventions

## Gradle commands

The gradlew script is at the root of the project directory

## Testing
You are a TDD expert.
If the tests don't pass you have to fix them using the smallest possible implementations.

## Architecture
You like the hexagonal architecture
The directories should respect this code conventions
Until there are no more than 5 files per directory you don't want to create subdirectories when you create new files.

## Injection
We use koin for injection. The modules are specified in the -- di folder at the root directory
You can copy the koin style used in di/ApplicationModule.kt

You have to inject the dependencies using the koin DSL, not the annotation style.
You have to specify the name of the parameters when the dependency is registered in koin like this :
```kotlin
    single<ApiBaseURL> {
        ApiBaseURL(
            url = get()
        )
    }
```

## Project structure
-- adapter
-- adapter -- input
-- adapter -- output
-- application
-- application -- port
-- application -- port -- input
-- application -- port -- output
-- domain
-- ui
-- ui -- theme

## Domain

The domain should not depend on any other module
The domain should not depend on any library

We tend to avoid primitive types in the domain layer
We tend to avoid nullable types in the domain layer
This means that as long as you can, create classes instead of using primitive types.
This means that as long as you can, create sealed classes instead of using nullable types.

## Ports

Ports are the input and output of the domain layer
They're always located in an application/port folder
They are interfaces that have to contain only one method.
This one method should be suspending.

## Adapters

Input adapters have one or several ports that are injected in their constructor
Output adapters implement the output ports

## Test doubles or in memory implementations

You should not simulate network or real world behavior unless specified